#projects {
  padding: 2em 8%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.projects-list {
  list-style: none;
  background-color: #F5F5F5;
}

.project-item {
  padding: 16px 32px;
  font-weight: 500;
  color: black;
  cursor: pointer;
}

.project-img {
  width: 100%;
}

.project-info-item {
  width: 100%;
  text-align: center;
  padding: 16px 0;
  font-weight: 500;
  color: black;
  cursor: pointer;
}

.project-active {
  border-left: 4px solid var(--green);
  color: var(--green);
}

.project-info-active {
  border-top: 4px solid var(--green);
  color: var(--green);
}

.project-textgroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-info {
  display: flex;
  width: 100%;
  max-width: 750px;
  flex-direction: column;
  gap: 32px;
}

.project-info-selection {
  background-color: #F5F5F5;
  place-items: center;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project-info h4 {
  color: var(--green);
  font-size: 14px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (min-width: 1024px) {
  .projects-container {
    flex-direction: row;
  }

  .projects-list {
    width: 30vw;
    height: 153px;
    max-width: 350px;
    grid-area: "list";
  }
}

@media screen and (min-width: 1280px) {
  #projects {
    padding: 2em 12%;
  }
}