.button {
  background-color: var(--green);
  color: white;
  width: 250px;
  border-radius: 24px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color, transform, 0.2s;
}

.button .button-icon {
  vertical-align: middle;
  transition: transform 0.2s;
}

.button:hover {
  background-color: var(--bright-green);
  transform: scale(1.1);
}

.button:hover .button-icon {
  transform: translateX(5px);
}

.button:not(:hover) {
  background-color: var(--green);
  transform: scale(1);
}