nav {
  background-color: white;
  padding: 16px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--green);
  z-index: 30;
}

nav h1 {
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav h1 span {
  color: var(--green);
  margin-left: 8px;
}

.logo-img {
  width: 32px;
  height: 32px;
}

.menu {
  cursor: pointer;
}

.navbar-items {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 20px 0;
  background-color: var(--light-green);
  border-radius: 30px;
  width: 80vw;
  gap: 24px;
  align-items: center;
  font-size: 1.2em;

  z-index: 11;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-item {
  cursor: pointer;
  color: var(--GrayishBlue);
  position: relative;
  text-decoration: none;
}

.navbar-item::after {
  content: '';
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: white;
  display: block;
  opacity: 0;
  transition: 0.5s;
  animation: navLinkFade 1s;
}

.overlay {
  position: absolute;
  z-index: 10;
  top: 66px;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background: rgb(0,0,0);
  background: linear-gradient(180deg, var(--dark-green) 0%, transparent 100%);
  transition: 1s;
}

.navbar-item:hover::after {
  opacity: 1;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.shopping-bag {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.icon-container {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 768px) {
  nav {
    justify-content: space-between;
  }

  .navbar-items {
    padding: 0;
    width: auto;
    flex-direction: row;
    visibility: visible;
    position: static;
    background: none;
    transform: none;
    gap: 48px;
  }

  .navbar-item {
    font-size: 16px;
  }

  .icon-container {
    display: none;
  }

  .navbar-item::after {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background: var(--bright-green);
    display: block;
    opacity: 0;
    transition: 0.5s;
  }
}

@media screen and (min-width: 1280px) {
  nav {
    padding: 16px 12%;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}