.showcase {
  padding: 2em 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase .textgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 450px;
}

.title {
  font-size: 32px;
  margin-bottom: 4px;
  font-family: 'Poppins', sans-serif;
}

.textgroup .subtitle {
  font-size: 16px;
  margin-bottom: 16px;
  font-style: italic;
}

.title span {
  color: var(--green);
}

.textgroup .description {
  margin-bottom: 16px;
}

.showcase-img {
  display: none;
  width: 40%;
  -webkit-box-shadow: -15px 15px 0px 0px rgba(158,179,8,1);
  -moz-box-shadow: -15px 15px 0px 0px rgba(158,179,8,1);
  box-shadow: -15px 15px 0px 0px rgba(158,179,8,1);
}

@media screen and (min-width: 1024px) {
  .showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 8% 4em 8%;
  }

  .showcase-img {
    display: block;
  }

  .showcase .textgroup {
    text-align: start;
    align-items: start;
  }
}

@media screen and (min-width: 1280px) {
  .showcase {
    padding: 2em 12% 4em 12%;
  }
}